{% extends "index.html" %}

{% block title %} | Dashboard{% endblock title %}

{% block dashboard %}
    <h1 class="text-center">Dashboard</h1>
    <div class="blog-add text-center my-3">
            <button class="btn btn-outline-success">Write a Blog</button>
    </div>

    <div class="dashboard mx-5 border" style="display: grid; row-gap: 30px; column-gap:50px ; grid-template-columns: 250px 250px 250px; align-items:center; justify-content: center;">
        <div class="card" style="width: 18rem; min-height: 6.5rem;">
            <div class="card-body">
                <h1 class="card-title fw-bold text-uppercase" style="font-size: 18px">Blog Title</h1>
                <button class="btn btn-outline-warning">Read</button>
                <button class="btn btn-outline-secondary">Edit</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Blog Title</h5>
                <button class="btn btn-outline-warning">Read</button>
                <button class="btn btn-outline-secondary">Edit</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Blog Title</h5>
                <button class="btn btn-outline-warning">Read</button>
                <button class="btn btn-outline-secondary">Edit</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Blog Title</h5>
                <button class="btn btn-outline-warning">Read</button>
                <button class="btn btn-outline-secondary">Edit</button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Blog Title</h5>
                <!--
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                -->
                <button class="btn btn-outline-warning">Read</button>
                <button class="btn btn-outline-secondary">Edit</button>
            </div>
        </div>
    </div>
{% endblock dashboard %}