{% extends "index.html" %}

{% block title %} | Login{% endblock title %}

{% block login %}
    <h1 class="text-center">Login</h1>

<div class="mx-auto border w-25 px-3 pt-5 pb-4 shadow">
      <form method="post" class="d-flex flex-column gap-2">
        <div class="form-display d-flex gap-4">        
            <label for="email">Email ID</label>
            <input type="email" name="email" id="email" placeholder="Enter Email ID">
        </div>

        <div class="form-display d-flex gap-3">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>

        <button type="submit" class="btn btn-outline-success mx-auto mt-3" style="width:100px;">Login</button>
    </form>
</div>

    {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show mx-auto w-25 mt-3" role="alert">
                    {{message}}
                <button type="button" class="btn-close btn-{{category}}" data-bs-dismiss="alert" aria-label="Close"></button>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
{% endblock login %}